@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


.todo{
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

.contenedor {
  display: flex;
}

.titulo{
  text-align: center;
}

.contenedor-meme{
  width: 45%;
  height: 70vh;
  border: 1px solid red;
  margin: auto;
}

.contenedor-settings{
  width: 45%;
  height: 70vh;
  /* border: 1px solid red; */
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-descargar {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  /* border: none; */
}

.abajo {
  position: relative;
  top: 80%;
}
.centro {
  position: relative;
  top: 45%;
}
.arriba {
  position: relative;
  top: 0%;
}